<div class="modal-header">
	<h4 class="modal-title pull-left"> {{ title }} </h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div [formGroup]="formGroup">
  <div class="modal-body">
      <div class="form-group" [hidden]="step!==1" >
        <div >
            <label>Qual a sua data de nascimento ? </label>
            <input type="date" formControlName="dataNascimento"  class="form-control"/>
        </div>
        <div class="form-group" >
        <label>Qual o seu sexo ? </label>

          <div class="custom-control custom-checkbox" >
                <label *ngFor="let sex of sexos">
                    <input type="radio" [value]="sex" formControlName="sexo" name="sexo">
                    <span>{{sex}}</span>
                </label>
          </div>
            <!-- <div *ngIf="hasError('sexo', 'required',['pessoa']) && form.submitted"  class="alert alert-danger" role="alert">
              O campo sexo não pode ser vazio!
            </div> -->
            <div class="form-group">
              <button class="btn btn-primary" (click)="step=2" [disabled]="!formGroup.valid" >Próximo</button>
            </div>
      </div>
  </div>
  </div>

  <div  *ngIf="step == 2" [ngClass]="step == 2 ? 'modalCustom2' : 'modal-body'">
    <label>Você já teve covid? </label>
    <div class="contenModalCustom">
      <div class="form-group">
        <button class="btn btn-primary" (click)="step=3">Sim</button> 
      </div> 

      <div class="form-group">
          <button class="btn btn-danger" (click)="step=4">Não</button>
      </div>
    </div>  
  </div>  


  <div  *ngIf="step == 3" [ngClass]="step == 3 ? 'modalCustom3' : 'modal-body'">
    <label class="contentstep3">Deseja ajudar a salvar vidas, compartilhando essas informações para grupos de pesquisa científica??</label>
    <div class="contenModalCustom">
      <div class="form-group">
        <button class="btn btn-primary" (click)="backToCadastro(true, true)" >Sim, eu quero ajudar!</button> 
      </div> 

      <div class="form-group">
          <button class="btn btn-danger" (click)="backToCadastro(false, false)">Não, não quero ajudar.</button>
      </div>
    </div>  
  </div>
  <div  *ngIf="step == 4" [ngClass]="step == 4 ? 'modalCustom4' : 'modal-body'">
    <label>Como você está se sentindo hoje? </label>
    <div class="contenModalCustom">
      <div class="form-group">
        <button class="btn btn-primary" (click)="backToCadastro(true, false)">Bem</button> 
      </div> 

      <div class="form-group">
          <button class="btn btn-danger" (click)="backToCadastro(false,false)">Mal</button>
      </div>
    </div>  
  </div>    
</div>